body {
	background-color: #1a1a1a;
}

#logo {
	margin-top: 50px;
	text-align: center;
}

#logo img {
	width: 500px;
}

#login {
	text-align: center;
	margin-top: 100px;
}

input[type=text] {
	background: #d73f09;
	border-style: solid;
	border-radius: 5px;
	color: #1a1a1a;
	width: 300px;
	height: 40px;
	margin-top: 15px;
	text-align: center;
}

input[type=text]:focus {
	outline: none;
}
input[type=submit] {
	background: #d73f09;
	color: #1a1a1a;
	border: 2px solid #1a1a1a;
	border-radius: 5px;
	width: 80px;
	margin-top: 8px;
	cursor: pointer;
}


input[type=submit]:focus {
	outline: none;
	color: #ffffff;
}

::placeholder {
	color: #1a1a1a;
	font-size: 20px;
	text-align: center;
	
}

input:focus::placeholder {
	color: transparent;
}

