body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: #1a1a1a;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #1a1a1a;
  color: #d73f09;
}

.site-title:hover {
	color: #ffffff;
}

.navbar {
  background-color: #d73f09;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #1a1a1a;
}

a:hover,
a:focus {
  color: #ffffff;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #d73f09;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #ffffff;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}


