<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Beaver Lair</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css" media="screen">
  <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
  <script src="/static/index.js" charset="utf-8" defer></script>
  <meta name="NBA Game Threads" content="Beaver Lair">
  <meta name="Ricky Salinas/Jose Ramos" content="SitePoint">

  <link rel="stylesheet" href="/static/style.css?v=1.0">
  <script type="text/javascript" src="/static/updateStanding.js"></script>
  <script type="text/javascript" src="/static/deleteGame.js"></script>
  <script type="text/javascript" src="/static/searchUsers.js"></script>
  <script type="text/javascript" src="/static/searchStandings.js"></script>
  <script type="text/javascript" src="/static/searchMessages.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>



</head>

<body>
	{{{body}}}
</body>
</html>


