<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    
    <a href='/home'><h1 class="site-title">Beaver Lair</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="/games">Games</a></li>
          <li class="navitem navlink"><a href="/results">Results</a></li>
	  <li class="navitem navlink"><a href="/standings">Standings</a></li>
	  <li class="navitem navlink"><a href="/users">Users</a></li>
	  <li class="navitem navlink"><a href="/messages">Messages</a></li>
          <li class="navitem navbar-search">
	  <form id='search_users' action='' method=''>
          <input type="text" id="navbar-search-input" placeholder="Search for username">
          <button type="button" id="navbar-search-button" onclick="searchUsers()"><i class="fas fa-search"></i></button>
	  </form>
          </li>
        </ul>
      </nav>
</header>


<br>
<br>
    <table>
      <tr>
        <th>Username</th>
        <th>Password</th>
      </tr>	
      {{#each users}}
      <tr>
        <th>{{username}}</th>
        <th>{{password}}</th>
      </tr>
      {{/each}}
     </table> 

 
     <button type = "button" id="edit-user"><i class="fas fa-edit fa-3x"></i></button>
     <form id="adduser" action="/users" method="post">
     <div id="modal-backdrop" class="hidden"></div>
     <div id="user-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add User</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="input-element">
            <label for="input-1">Username</label>
            <input type="text" id="input-1" name="username" required>
          </div>
          <div class="input-element">
            <label for="input-2">Password</label>
            <input type="text" id="input-2" name="password" required>
          </div>
         </div>
        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="submit" class="modal-add-user-button">Add User</button>
        </div>
      </div>
     </div>
     </form>
