body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: #1a1a1a;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #1a1a1a;
  color: #d73f09;
}

.site-title:hover {
	color: #ffffff;
}

.navbar {
  background-color: #d73f09;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #1a1a1a;
}

a:hover,
a:focus {
  color: #ffffff;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #d73f09;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #ffffff;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}



.score-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.mini-scoreboard {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.scoreboard-icon {
  font-size: 24px;
}

.scoreboard-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.scoreboard-content p {
  margin: 0;
}

.scoreboard-content .twit-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}

p.Team_1_Name {
	width: 100%;
	font-size: x-large;
}
p.Team_2_Name {
	width: 100%;
	font-size: x-large;
}
p.Team_1_Score {
	width: 100%;
	font-size: large;
}
p.Team_2_Score {
	width: 100%;
	font-size: large;
}
p.Quarter {
	float: left;
}
p.Time_Left {
	float: right;
}

p.Game_Date {
	float: left;
}

p.Start_Time {
	float: right;
}

.Game_Info {
	margin-top: 10px;
	width: 100%;
}

.Team_1_Info {
	border: 2px solid #1a1a1a;
	border-radius: 4px;
}

.Team_2_Info {
	border: 2px solid #1a1a1a;
	border-radius: 4px;
	margin-top: 8px;
}

#thread-icon {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr{
  background-color: #d73f09;
}

#edit-game {
	position: relative;
	position: absolute;
	bottom: 20px;
	right: 110px;
	color: #d73f09;
	background-color: white;

}

#edit-result {
	position: relative;
	position: absolute;
	bottom: 20px;
	right: 110px;
	color: #d73f09;
	background-color: white;
}

#edit-standing {
	position: relative;
	position: absolute;
	bottom: 20px;
	right: 110px;
	color: #d73f09;
	background-color: white;
}

#edit-message {
	position: relative;
	position: absolute;
	bottom: 20px;
	right: 110px;
	color: #d73f09;
	background-color: white;
}


#edit-user {
	position: relative;
	position: absolute;
	bottom: 20px;
	right: 110px;
	color: #d73f09;
	background-color: white;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#game-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#result-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#standing-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#user-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#message-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.input-element input,
.input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}


.modal-footer .modal-add-game-button {
  background-color: #d73f09;
  color: #fff;
}

.modal-footer .modal-add-game-button:hover {
  background-color: #932c06;
}

.modal-footer .modal-delete-game-button {
  background-color: #d73f09;
  color: #fff;
}

.modal-footer .modal-delete-game-button:hover {
  background-color: #932c06;
}



.modal-footer .modal-add-result-button {
  background-color: #d73f09;
  color: #fff;
}

.modal-footer .modal-add-result-button:hover {
  background-color: #932c06;
}



.modal-footer .modal-add-standing-button {
  background-color: #d73f09;
  color: #fff;
}

.modal-footer .modal-add-standing-button:hover {
  background-color: #932c06;
}

.modal-footer .modal-edit-standing-button {
  background-color: #d73f09;
  color: #fff;
}

.modal-footer .modal-edit-standing-button:hover {
  background-color: #932c06;
}



.modal-footer .modal-add-user-button {
  background-color: #d73f09;
  color: #fff;
}

.modal-footer .modal-add-user-button:hover {
  background-color: #932c06;
}



.modal-footer .modal-add-message-button {
  background-color: #d73f09;
  color: #fff;
}

.modal-footer .modal-add-message-button:hover {
  background-color: #932c06;
}


